# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
/opencv/

# Executables
*.exe
*.out
*.app
*.idb
*.tlog
/*.user
/.vs/
/build/

*.bak
*.html
*.js
/html/_c_control_8h.html
/html/_c_control_8h.html
/html/_c_control_8h_source.html
/html/annotated_dup.js
/html/annotated.html
*.png
/html/class_c_control.html
/html/class_c_control.js
/html/search/all_0.js
/html/search/all_2.js
/html/search/all_3.js
/html/search/all_4.js
/html/search/all_5.js
